@import 'nib'


.order
	width 100%
	min-height 500px
	height auto
	
.order__title
	margin 0
	text-align center
	padding 60px 30px 60px 30px
	font-weight 300
	@media screen and (max-width: 600px)
		font-size 1.5em
		padding 60px 30px 30px 30px
	
.order-container
	max-width 700px
	margin 0 auto
	padding 20px
	background-color #FFF
	border-radius 2px
	@media screen and (max-width: 600px)
		border-radius 0
		
.form-label
	font-weight 400

.form-label--input
	margin 0
	
.form-label--checkbox
	margin 20px 0 30px 0
	
.calculation__result
	font-weight 400
	font-size 2em
	@media screen and (max-width: 600px)
		font-size 1.8em
	
.order-btn__btn
	z-index 1
	width 100%
	margin 20px 0 0 0
	color #FFF!important
	background #EC407A!important
	
.note
	color $secondary-text-color
	font-weight 300
	margin-top 10px
	font-size 0.8em