@import 'nib'

.made-with-love-container .made-with-love
	position relative
	bottom 0
	margin 50px 0 50px 0
	text-align center
	font-weight 300
	letter-spacing 2px
	
.made-with-love-container .heart-icon
	font-size 0.8em
	color #F44336
	
.made-with-love-container .company
	text-transform uppercase
	