@import 'nib'

.social
	padding 8px
	display flex
	flex-direction row
	flex-wrap nowrap
	justify-content space-between
	
.social__btn
	width 40px
	height 40px
	margin 8px
	border-radius 50%
	cursor pointer
	background-size cover
	background-repeat no-repeat
	background-position center
	
.social__btn:hover
	background-size cover
	background-repeat no-repeat
	background-position center
	
.social__btn--vk
	background-image url(../img/social/vk.png)
	
.social__btn--ok
	background-image url(../img/social/ok.png)
	
.social__btn--fb
	background-image url(../img/social/fb.png)
	
.social__btn--tw
	background-image url(../img/social/tw.png)
	
.social__btn--yt
	background-image url(../img/social/yt.png)