<div class="fab-container">
	<div class="fab">
		<input type="checkbox" href="#" class="fab-checkbox" name="fab-checkbox" id="fab-checkbox"/>
		<label class="fab-button" for="fab-checkbox">
			<span class="fab-button__icon"></span>
		</label>
		<div class="mini-buttons">
			<div data-hm-tap="fab.toBack()" class="mini-buttons__item">
				<i class="material-icons mini-buttons__icon">arrow_back</i>
			</div>
			<div data-hm-tap="fab.toTop()" class="mini-buttons__item">
				<i class="material-icons mini-buttons__icon">arrow_upward</i>
			</div>
		</div>
	</div>
</div>