<div class="contacts-container">
	<div itemscope itemtype="http://schema.org/Organization">
		<div class="contacts">
			<div class="contact-list">
				<md-list>
					<md-list-item class="list-item">
						<h3 class="contact-list__item">Телефон: 
							<span itemprop="telephone">+7(917)048-68-66</span>
						</h3>
					</md-list-item>
					<md-list-item class="list-item">
						<h3 class="contact-list__item">Почта: 
							<a itemprop="email" class="email__link" href="mailto:ceo@likearts.ru">ceo@likearts.ru</a>
						</h3>
					</md-list-item>
					<md-list-item class="list-item">
						<h3 class="contact-list__item">Skype: 
							<span itemprop="skype">tauga33</span>
						</h3>
					</md-list-item>
				</md-list>
			</div>
		</div>
	</div>
</div>